*{
    margin: 0px;
    padding: 0px;
    font-family: 'Times New Roman', Times, serif;
}
body{
    text-align: center;
    background: lightgray;
}
#Contenedor{
    width: 100%;
    height: auto;
    margin: 0 auto;
    display: grid;
    grid-template-rows: 20% 20% 20% 15% 20%;
}

h1{
    font-size: 300%;
}
h2{
    font-size: 200%;
    margin-top: 25px;
}
p{
    font-size: 150%;
    margin-top: 10px;
}

#Seccion1{
    text-align: left;
    margin: 25px;
    display: grid;
    grid-template-columns: repeat(2fr, 1fr);
}

#Foto{
    margin-left: 50%;
    grid-column: 2;
}

#Seccion2{
    text-align: left;
    margin: 25px;
    border-top: 2px solid black;
}

#Seccion3{
    text-align: left;
    margin: 25px;
    border-top: 2px solid black;
}

#Seccion4{
    text-align: left;
    margin: 25px;
    border-top: 2px solid black;
}

#Seccion5{
    border-top: 2px solid black;
    margin: 25px;
    display: grid;
    grid-template-columns: repeat(2fr, 1fr);
}
.M1{
    grid-column: 1;
    text-align: left;
}
.M2{
    grid-column: 2;
    text-align: left;
}